<footer class="mt-auto pt-4 bg-dark light border-top text-light">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1857.4242494767454!2d1.9473074174594707!3d48.823982068462314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e684e3a0c1b059%3A0xf26e18b145fd068a!2s78370%20Plaisir!5e0!3m2!1sfr!2sfr!4v1634920018112!5m2!1sfr!2sfr" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

            <div class="col-6 col-md">
                <!-- heading  -->
                <H6 class="fw-bold text-uppercase" id="menu">Menu</H6>

                <!-- list -->
                <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
                    <li class="mb-3">
                        <a href="{{ path( 'accueil' ) }}" class="text-reset">Accueil</a>
                    </li>

                    <li class="mb-3">
                        <a href="{{ path( 'presentation' ) }}" class="text-reset">Présentation</a>
                    </li>
                    <li class="mb-3">
                        <a href="{{ path( 'massage' ) }}" class="text-reset">Massages</a>
                    </li>
                    <li class="mb-3">
                        <a href="{{ path( 'massages_duo' ) }}" class="text-reset">Massages Duo</a>
                    </li>

                    <li class="mb-3">
                        <a href="{{ path( 'contact' ) }}" class="text-reset"> Contact</a>
                    </li>

                </ul>
            </div>

            <div class="col-6 col-md">
                <h6 class="fw-bold text-uppercase">Informations</h6>

                <small class="d-block mb-3 text-muted">
                    <address>
                        <span class="text-uppercase">Beauty Massage</span>
                        <br>
                        <p>15 rue de la détente
                            <br>78370 Plaisir<p>
                            Tel: 01-44-71-78-42
                    </address>
                </small>
            </div>

            <div class="col-6 col-md">
                <h6 class="fw-bold text-uppercase">A propos</h6>

                <small class="d-block mb-3 text-muted">

                    <p>Beauty Massage est le site de l'institut de soin spécialisé pour vous déstresser en plein cœur des Yvelines à 30min de Paris.
                        Trouvez votre expert du bien etre pour un massage pas cher ! Nous avons tout type de massage pour vous relaxer: massage anti cellulite,
                        californien, chinois, thai, palper rouler, shiatsu.</p>

                </small>
            </div>
        </div>
    </div>

    <div class="bottom-footer py-2 text-center text-white">
        &copy;Copyright 2021 Beauty Massage | Tous droits réservés
    </div>
</footer>
