

<nav class="navbar navbar-expand bg_primary navbar-shrink fixed-top" id="secondaryNav">
    <div class="container">

      <span class="ml-2 ml-xl-0 num-header text-white" href="06-44-71-78-42">
      <svg xmlns="http://www.w3.org/2000/svg" class="svg-inline--fa fa-phone-alt fa-w-16" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/>
        <path d="M21 16.42v3.536a1 1 0 0 1-.93.998c-.437.03-.794.046-1.07.046-8.837 0-16-7.163-16-16 0-.276.015-.633.046-1.07A1 
        1 0 0 1 4.044 3H7.58a.5.5 0 0 1 .498.45c.023.23.044.413.064.552A13.901 13.901 0 0 0 9.35 8.003c.095.2.033.439-.147.567l-2.158
        1.542a13.047 13.047 0 0 0 6.844 6.844l1.54-2.154a.462.462 0 0 1 .573-.149 13.901 13.901 0 0 0 4 1.205c.139.02.322.042.55.064a.5.5 0 0 1 .449.498z"/></svg>

            <span class="d-none d-sm-inline">Info & résa 7/7 +33 06-44-71-78-42</span>
      </span>

            <div class id="secondaryNavbarResponsive">
  
                <ul class="navbar-nav ml-auto">
  
                  <li class="nav-item mx-0 mx-lg-1">

                    <a class="nav-link text-secondary" href="reservation">
                      <svg xmlns="http://www.w3.org/2000/svg" class="svg-inline--fa fa-calendar-alt fa-w-14" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M9 1v2h6V1h2v2h4a1 1
                         0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4V1h2zm11 7H4v11h16V8zm-4.964 2.136l1.414 1.414-4.95 4.95-3.536-3.536L9.38 11.55l2.121 2.122 3.536-3.536z"/></svg> 
                        <span class="d-none d-xl-inline">Réservation en ligne</span>
                      </a>

                  </li>
  
                  <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link text-secondary" href="contact">
                      <svg xmlns="http://www.w3.org/2000/svg" class="svg-inline--fa fa-envelope fa-w-16" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="none" d="M0 0h24v24H0z"/><path d="M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1
                         1-1zm17 4.238l-7.928 7.1L4 7.216V19h16V7.238zM4.511 5l7.55 6.662L19.502 5H4.511z"/></svg>
                         <span class="d-none d-xl-inline">Contact</span>
                        </a>
                  </li>

                   {% if not app.user %} 
                  <li class="nav-item mx-0 mx-lg-1">

                    <a class="nav-link text-secondary" href="{{ path('app_login') }}">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/>
                        <path d="M4 15h2v5h12V4H6v5H4V3a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6zm6-4V8l5 4-5 4v-3H2v-2h8z"/></svg>
                        <span class="d-none d-xl-inline">Connexion/Inscription</span>
                    </a>

                  </li>

                  {% else %}
                  <li class="nav-item mx-0 mx-lg-1">

                    <a class="nav-link text-secondary" href="{{ path('app_logout') }}">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/>
                        <path d="M4 18h2v2h12V4H6v2H4V3a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3zm2-7h7v2H6v3l-5-4 5-4v3z"/></svg>
                        <span class="d-none d-xl-inline">Déconnexion</span>
                    </a>

                  </li>
                  {% endif %}
  
  
                  <li class="nav-item mx-0 mx-lg-1">

                    <a class="header-cart-link nav-link text-dark px-3 px-lg-5 text-uppercase text-center" href="{{ path('mon_pannier') }}">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M15.366 3.438L18.577 
                        9H22v2h-1.167l-.757 9.083a1 1 0 0 1-.996.917H4.92a1 1 0 0 1-.996-.917L3.166 11H2V9h3.422l3.212-5.562 1.732 1L7.732 9h8.535l-2.633-4.562 1.732-1zM18.826 
                        11H5.173l.667 8h12.319l.667-8zM13 13v4h-2v-4h2zm-4 0v4H7v-4h2zm8 0v4h-2v-4h2z"/></svg>
                    <span class="d-none d-xl-inline">panier</span>
                    <span class="nb_items">0</span>
                  </a>

                  </li>
  
                </ul>
            </div>
    </div>
  </nav>
  
                                     <!-- 2eme nav !! 
                                      2eme nav !!  -->
  
  <nav class="navbar navbar-expand-xl bg-secondary fixed-top" id="mainNav">
      <div class="container">
          <div class="navbar-brand">
            <a id="logo-link" href="/">
            <img src="/img/logo.png"></a>
          </div>
          BEAUTY MASSAGE
  
            <div class="collapse navbar-collapse" id="navbarResponsive">
  
              <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                  <a class="nav-link" href="{{ path('accueil') }}">Accueil</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="{{ path('presentation') }}">Présentation</a>
                </li>
                <li class="nav-item mx-0 mx-xl-1">
                  <a class="nav-link" href="{{ path('massages') }}">Massages</a>
                </li>
                <li class="nav-item mx-0 mx-xl-1">
                  <a class="nav-link" href="{{ path('massages_duo') }}">Massages Duo</a>
                </li>
  
              </ul>
            </div>
  
      </div>
  </nav>  
  
  
  