{% extends 'base.html.twig' %}

{% block title %} Reservation{% endblock %}


{% block stylesheets %} 

{{ encore_entry_link_tags('app') }}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.9.0/main.min.css"
integrity="sha256-N4huVLjch/cYU8fcsyfMDy3iz7YzxY/Z1Btcj62y7ZE=" crossorigin="anonymous">

<style>
    #calendrier{
        width: 80px;
        margin: auto;
    }
</style>
{% endblock %}

{% block body %}
<br><br><br><br><br>

{{ form_start(form) }}
                        {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message}}
                        </div>
                         {% endfor %} 
                    
                    <div class="my-custom-class-for-errors">
                        {{ form_errors(form) }}
                    </div>

                    <div class="form-group mb-5">
                        <label class="form-label" for="reservationDate">
                            {{ form_label(form.reservationAt) }}
                        </label>
                        {{form_widget(form.reservationAt) }}
                    </div>

                    <div class="form-group mb-5">
                        {{form_widget(form.envoyer)}}
                    </div>
                    
                    {{form_end(form)}}
   
{% endblock %}


{% block javascripts %} 

<script src="https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@5.9.0/main.min.js"
          integrity="sha256-aQ3VdEtGV6MDaxbR989+aWkW/PRGEvF2YW7mCUg5vjI=" crossorigin="anonymous">
</script>

<script>

        window.onload = () => {
            let calendarElt = document.querySelector("#calendrier")

            let calendar = new FullCalendar.Calendar(calendarElt, {
                initialView: 'dayGridMonth'
            })

            calendar.render()
        }
</script>

{% endblock %}

