{% extends 'base.html.twig' %}

{% block title %} Réservation{% endblock %}


{% block body %}
<br><br><br><br><br>

{{ form_start(form) }}
                        {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message}}
                        </div>
                         {% endfor %} 
                    
                    <div class="my-custom-class-for-errors">
                        {{ form_errors(form) }}
                    </div>

                    <div class="form-group mb-5">
                        <label class="form-label" for="reservationDate">
                            {{ form_label(form.reservationAt) }}
                        </label>
                        {{form_widget(form.reservationAt) }}
                    </div>

                    <div class="form-group mb-5">
                        {{form_widget(form.envoyer)}}
                    </div>
                    
                    {{form_end(form)}}
   
{% endblock %}


